@media only screen and (max-width: 600px) {
    .navigation-grocery {
        flex-direction: column;
    }

    .navigation-item {
        width: 100%;
        flex-direction: column;
    }
}

.navigation-grocery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    display: flex;
}

.navigation-item-btn-home {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: rgb(168, 16, 16);
    color: white;
}

.navigation-item-btn-home:hover {
    background-color: rgb(247, 184, 96);
    cursor: pointer;
    border: 1.5px solid rgb(0, 0, 0);
    color: black;
}   

.navigation-item-btn {
    background-color: white;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1.5px solid black;
    border-radius: 5px;
}

.navigation-item-btn:hover {
    background-color: rgb(247, 184, 96);
    cursor: pointer;
    border: 1.5px solid rgb(0, 0, 0);
    color: black;
}    

.logo {
    width: 100px;
    height: 100px;
}

.title-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.sub-title-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    color: gray;
}

/* Form Cardview */
.card {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #223f5d;
}
/* Form Cardview */

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}


